<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="https://www.djangoproject.com/m/css/docs/docs.css" type="text/css" />
</head>
<nav class="main-nav-wrap">
    <ul class="main-nav group">
        <li class="tab1"><a href="/learn">learn <span></span></a></li>
        <li class="tab2"><a href="/admin/">admin <span></span></a></li>
        <li class="tab3"><a href="/snippets/">tab3 <span></span></a></li>
        <li class="tab4"><a href="/video-screencasts/">tab4 <span>tab4</span></a></li>
    </ul>
</nav>

<div style="width:50%; marginleft:25%;">
    {% block main %}{% endblock %}
</div>